{% extends 'codes/template.html' %}

{% block body %}
        {% load static %}
        {% load humanize %}
        {% load tags %}
        <div class="table-class">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Matiere</th>
                        <th scope="col">Classe/Groupe</th>
                        <th scope="col">Prof</th>
                        <th scope="col">Code</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in classes %}
                        <tr>
                            <td>{{ i.nom }}</td>
                            <td>{{ i.classe_groupe }}</td>
                            <td>{{ i.prof }}</td>
                            <td><a href={{i.link}} target="_blank">{{i.code}}</a> <br></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
          
    </body>
</html>

{% endblock body %}
