{% extends 'codes/template.html' %}

{% block body %}

        {% load static %}
        {% load humanize %}
        {% load tags %}


        <div id="classes" class="classes">
            {% for i in classes %}
                {% if i.commnence|in_the_future %}
                    <div class="menu-class">
                        <a href=../c/{{i.code}} data-date="{{i.commnence}}">{{ i.nom }} - {{ i.prof }} | {{ i.commnence | naturaltime | capfirst}}</a>
                    </div>
                {% endif %}
            {% endfor %}
            <hr>
            {% for i in classes %}
                {% if i.commnence|in_the_past %}
                    <div class="menu-class">
                        <a href=../c/{{i.code}} data-date="{{i.commnence}}">{{ i.nom }} - {{ i.prof }} | {{ i.commnence | naturaltime | capfirst}}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% for i in focus %}
            <div class="focus">
                {{ i.nom }}             <br>
                {{ i.classe_groupe }}   <br>
                {{ i.prof }}            <br>
                {{ i.commnence|date:"l" | capfirst}} {{ i.commnence }}       <br>
                {{ i.commnence | naturaltime | capfirst }} <br>
                <a href={{i.link}} target="_blank">{{i.code}}</a> <br>
            </div>
            <hr style="background-color: black;">
        {% endfor %}
{% endblock %}