<!DOCTYPE html>
<html>
    <head>
        <title>Codes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% load static %}
        {% load humanize %}
        {% load tags %}
        <link rel="stylesheet" type="text/css" href="{% static 'codes/style.css' %}">
        <script src="{% static 'codes/main.js' %}"></script>

    </head>
    <body>
        <ul class="bar">
            <li><a class="active" href="/">Matières</a></li>
            <li><a href="/codes">Codes</a></li>
        </ul>
        <div id="time"></div>
        <div id="date"></div>

        <div id="classes" class="classes">
            {% for i in classes %}
                {% if i.commnence|in_the_future %}
                    <div class="menu-class">
                        <a href=../c/{{i.code}} data-date="{{i.commnence}}">{{ i.nom }} - {{ i.prof }} | {{ i.commnence | naturaltime | capfirst}}</a>
                    </div>
                {% endif %}
            {% endfor %}
            <hr>
            {% for i in classes %}
                {% if i.commnence|in_the_past %}
                    <div class="menu-class">
                        <a href=../c/{{i.code}} data-date="{{i.commnence}}">{{ i.nom }} - {{ i.prof }} | {{ i.commnence | naturaltime | capfirst}}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% for i in focus %}
            <div class="focus">
                {{ i.nom }}             <br>
                {{ i.classe_groupe }}   <br>
                {{ i.prof }}            <br>
                {{ i.commnence|date:"l" | capfirst}} {{ i.commnence }}       <br>
                {{ i.commnence | naturaltime | capfirst }} <br>
                <a href={{i.link}} target="_blank">{{i.code}}</a> <br>
            </div>
            <hr style="background-color: black;">
        {% endfor %}

          
    </body>
</html>