<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
            <title>Blog</title>
    </head>
    <body>
        <h2>Pour acceder au site web, veuillez entrez le code.</h2>
        {% if message %}
            <div>
                {{ message }}
            </div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input name="password" type="password" placeholder="Mot de passe"/>
            <input class="submitbtn" type="submit" value="Login"/>
        </form>
    </body>
</html>