{% extends 'codes/template.html' %}

{% block body %}
        {% load static %}
        {% load humanize %}
        {% load tags %}

        <form action="{% url 'codes:soumission' %}" method="post" name="new">
            {% csrf_token %}
            <input name="nom" type="text" placeholder="Matiere" maxlength="127" required/><br><br>

            <select name="classe_groupe" id="classe_groupe">
                {% for i in choises %}
                <option value={{i.0}}>{{i.1}}</option>
                {% endfor %}
            </select>
            <br><br>
            <input name="prof" type="text" placeholder="Nom du professeur" maxlength="31" required/><br><br>
            <input name="commnence" type="datetime-local" required style="width: 240px;"/> <br><br>
            <input name="code" type="number" placeholder="Code" maxlength="31" required/><br><br>
            <input name="link" type="text" placeholder="Lien" maxlength="255" required/><br>
            <br>
            <input class="submitbtn" type="submit" value="Submit"/>
        </form>

        


        <style>
            body {
                background-attachment: fixed;
                background-image: url("{% static 'codes/img/donut.png' %}");
                background-position: center;
                background-repeat: no-repeat;
                background-color:rgb(116, 144, 153);
            }
        </style>

    
{% endblock body %}
