@charset "UTF-8";
html, body {
  font: 100% Georgia, Times, Times New Roman, serif;
  color: #333;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.bar li {
  float: left;
}
.bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 4mm;
}
.bar li a:hover {
  background-color: #111;
}

#time, #date {
  text-align: center;
  right: 0;
  left: 0;
  font-family: monospace;
  font-size: 12mm;
}

.class {
  border: 1px solid black;
  width: fit-content;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.classes {
  background-color: #333;
  float: left;
  width: 9cm;
  padding: 20px;
  height: fit-content;
  margin-right: 20px;
}

.wrapper {
  border: 2px solid #000;
  overflow: hidden;
}

.wrapper div {
  min-height: 200px;
  padding: 10px;
}

.clear {
  clear: both;
}

.menu-class {
  color: #fff;
  padding: 7px;
}
.menu-class a {
  color: white;
  text-decoration: none;
}
.menu-class a:hover {
  color: #ffffff99;
}

.focus {
  overflow: hidden;
  margin: 10px;
  margin-top: 2%;
  width: fit-content;
  float: right;
  align-self: center;
}

.allFocus {
  margin: auto;
  height: 300px;
  float: left;
}

.table-class {
  float: right;
  width: 100%;
  align-self: center;
  overflow-x: auto;
}

hr {
  color: white;
  background-color: white;
}

ul.errorlist {
  margin: 0;
  padding: 0;
}

.errorlist li {
  border: 1px solid red;
  color: red;
  background: rgba(255, 0, 0, 0.15);
  list-style-position: inside;
  display: block;
  font-size: 1.2em;
  margin: 0 0 3px;
  padding: 4px 5px;
  text-align: center;
  border-radius: 3px;
}

input, textarea {
  width: 15cm;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
}

input {
  height: 30px;
}

label {
  margin-bottom: 50px;
}

.success {
  background-color: rgba(0, 128, 0, 0.15);
  padding: 10px;
  text-align: center;
  color: green;
  border: 1px solid green;
  border-radius: 3px;
}

#login {
  border: 1px solid black;
  width: fit-content;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#login .submitbtn {
  width: fit-content;
}

.select {
  width: fit-content;
  height: fit-content;
}

.selectlabel {
  margin: 0;
}

.vl {
  border-left: 6px solid #818181;
  height: 80px;
  margin-left: 20px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 50px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  padding-bottom: 5px;
}

.collapsible:after {
  content: "➕";
  font-size: 13px;
  background-color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "➖";
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
  color: black;
}

.tooltip p {
  color: black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  #login {
    width: 100%;
  }
  #login input {
    width: 100%;
  }

  .vl {
    display: none;
  }

  .bar {
    font-size: 7mm;
  }

  input {
    width: 100%;
  }

  .classes {
    width: 100%;
    padding: 20px;
  }

  .focus {
    width: 100%;
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
