$font-stack:    Georgia,Times,Times New Roman,serif; 
$primary-color: #333;
$font-size:     12mm;
$side-width:    9cm;


html, body {
    font: 100% $font-stack;
    color: $primary-color;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}


.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }

}

#time, #date {
    text-align: center;
    right: 0;
    left: 0;
    font-family: monospace;
    font-size: $font-size;
}

.class {
    border: 1px solid black;
    width: fit-content;

    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.classes {
    background-color: $primary-color;
    float: left;
    width: $side-width;
    padding: 20px;
    bottom: 0;
    height: fit-content;
    margin-left: 20px;
}

.menu-class {
    color: #fff;
    padding: 7px;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #ffffff99;
    }
}

.focus {
    margin-left: $side-width + 2;
    margin-top: 2%;
}

.table-class {
    float: right;
    width: calc(100% - $side-width);
}

hr {
    color: white;
    background-color: white;

}